/* css starts here */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  max-height: 100vh;
}
/* logo style start here */
.logo h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: darkorange;
  /* text-shadow: 2px 2px 10px darkorange; */
}
.nav nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.nav nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  color: black;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
