/* css starts here */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  max-height: 100vh;
  /* background-color: #fff; */
}
/* logo style start here */
.logo h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: black;
  /* text-shadow: 2px 2px 10px darkorange; */
}
.logo h1:hover {
  text-shadow: 2px 2px 10px gray;
}
.nav nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.nav nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  color: black;
  text-transform: capitalize;
}
.nav nav ul li a:hover {
  text-decoration: underline darkslategrey 2px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  margin-top: 20%;
  background-color: rgba(95, 89, 89, 0.29);
  padding: 20px;
  border: 2px solid transparent;
  box-shadow: 2px 2px 20px gray;
}
